name: Doc Build action
on:
  push:
    branches:
    - main
    - master
jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "GITHUB_REPOSITORY=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV
        echo "GITHUB_SHA=${GITHUB_SHA}" >> $GITHUB_ENV
        echo "GITHUB_REF=${GITHUB_REF##*/}" >> $GITHUB_ENV
    - id: releases
      uses: pozetroninc/github-action-get-latest-release@master
      with:
        owner: nandajavarma
        repo: ${{ env.GITHUB_REPOSITORY }}
        excludes: prerelease, draft
    - name: Copycat
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        src_path: docs/.
        dst_path: docs/${{ env.GITHUB_REPOSITORY }}/${{ steps.releases.outputs.release }}
        dst_owner: nandajavarma
        dst_repo_name: doc-site-poc
        dst_branch: main
        src_branch: main
        src_wiki: false
        dst_wiki: false
        username: nandajavarma
        email: nandaja.varma@gmail.com
  copy-for-sphinx:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "GITHUB_REPOSITORY=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV
        echo "GITHUB_SHA=${GITHUB_SHA}" >> $GITHUB_ENV
        echo "GITHUB_REF=${GITHUB_REF##*/}" >> $GITHUB_ENV
    - id: releases
      uses: pozetroninc/github-action-get-latest-release@master
      with:
        owner: nandajavarma
        repo: ${{ env.GITHUB_REPOSITORY }}
        excludes: prerelease, draft
    - name: Copycat
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        src_path: docs/.
        dst_path: source/docs/${{ env.GITHUB_REPOSITORY }}/${{ steps.releases.outputs.release }}
        dst_owner: nandajavarma
        dst_repo_name: doc-site-poc
        dst_branch: sphinx
        src_branch: main
        src_wiki: false
        dst_wiki: false
        username: nandajavarma
        email: nandaja.varma@gmail.com
