name: Doc Build action
on:
  push:
    branches:
    - main
    - master
jobs:
  copy:
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "GITHUB_REPOSITORY=${GITHUB_REPOSITORY##*/}" >> $GITHUB_ENV
        echo "GITHUB_SHA=${GITHUB_SHA}" >> $GITHUB_ENV
        echo "GITHUB_REF=${GITHUB_REF##*/}" >> $GITHUB_ENV
    - name: Copycat
      uses: andstor/copycat-action@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        src_path: docs/.
        dst_path: docs/${{env.GITHUB_REF}}/${{ env.GITHUB_REPOSITORY }}
        dst_owner: nandajavarma
        dst_repo_name: doc-site-poc
        dst_branch: main
        src_branch: main
        src_wiki: false
        dst_wiki: false
        username: nandajavarma
        email: nandaja.varma@gmail.com
